
    {% extends 'main/main.html' %}
    {% load staticfiles %}
    {% block content %}
        <iframe id="forum_embed" src="javascript:void(0)" scrolling="yes" frameborder="0" width="80%" height="800px"></iframe>
        <script type="text/javascript">
            document.getElementById('forum_embed').src = 'https://groups.google.com/forum/embed/?place=forum/pcta_web_application'
                + '&showsearch=true&showpopout=true&showtabs=false'
                + '&parenturl='
                + encodeURIComponent(window.location.href);
        </script>
    {% endblock content %}